body {
    background: url(../IMG/bg.png);
    background-color: rgb(255, 255, 219);
}

/* #line-navbar {
    width: 100%;
    overflow: hidden;
}

#line-navbar .content {
    width: 100;
    height: 150px;
    margin-left: -25%;
} */