* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
}

nav {
    display: flex;
    width: 100%;
    background-color: #3d5;
    overflow: hidden;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
background-color: #3ab;
color: #000;
}

h1 {
    text-align: center;
    margin: 0 auto;
    background: #ffd521;
    font-size: 300%;
    font-weight: bolder;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    background: #ffd521;
}

article {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 1px #824a4a;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.img-container img {
    width: 100%; 
    border-radius: 5px;
    align-content: center;
}

h5 {
    color:chocolate;
}

h6 {
    color:seagreen;
}