<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/sass/estilo.css">
    <title>Imagenes</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar bg-success">
            <div class="container-fluid">
              <a class="navbar-brand d-none d-md-flex" href="#">
                <img src="../src/img/nav-logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                SinopMovies
              </a>
              <form class="d-flex mx-auto me-md-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
              </form>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="container mt-3">
        <section class="row 
        row-cols-1 gap-3
        row-cols-md-2 column-gap-sm-0
        row-cols-lg-4 mb-3
        ">
          <div class="col">
            <div class="card text-bg-dark align-items-center" >
              <img class="ancho-img" src="../src/img/movie-1.jpg" alt="">
              <div>
                <h3 class="h3 text-center">Avatar</h3>
              </div>
            </div>  
          </div>
          <div class="col">
            <div class="card text-bg-dark align-items-center" >
              <img class="ancho-img" src="../src/img/movie-2.jpeg" alt="">
              <div>
                  <h3 class="text-center">Barbie</h3>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark align-items-center" >
              <img class="ancho-img" src="../src/img/movie-3.jpg" alt="">
              <div>
                  <h3 class="text-center">Fast X</h3>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark align-items-center" >
              <img class="ancho-img" src="../src/img/movie-4.jpg" alt="">
              <div>
                  <h3 class="text-center">Five Nights At Freddy's</h3>
              </div>
            </div>
          </div>
        </section>

        <section class="row mt-3
        row-cols-1 gap-3
        row-cols-sm-2 column-gap-sm-0
        row-cols-lg-4 mb-3
        ">
            <div class="col">
              <div class="card text-bg-dark align-items-center" >
                <img class="ancho-img" src="../src/img/movie-5.jpg" alt="">
                <div>
                    <h3 class="text-center">Guardianes de la galaxia 3</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-dark align-items-center" >
                <img class="ancho-img" src="../src/img/movie-6.jpg" alt="">
                <div>
                    <h3 class="text-center">Super Mario Bros The Movie</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-dark align-items-center" >
                <img class="ancho-img" src="../src/img/movie-7.jpg" alt="">
                <div>
                    <h3 class="text-center">Spiderman Across The Spiderverse</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-dark align-items-center" >
                <img class="ancho-img" src="../src/img/movie-8.jpg" alt="">
                <div>
                    <h3 class="text-center">Transformers</h3>
                </div>
              </div>
            </div>
          </section>
    </main>
</body>
</html>